In [24]:
import pandas as pd
df = pd.read_csv('Customers.csv', sep=',')
display(df)

In [26]:
df['Gender'].value_counts()

Female    1186
Male       814
Name: Gender, dtype: int64

In [11]:
df['Profession'].value_counts()

Artist           612
Healthcare       339
Entertainment    234
Engineer         179
Doctor           161
Executive        153
Lawyer           142
Marketing         85
Homemaker         60
Name: Profession, dtype: int64

# Filtrando para dividir entre homens e mulheres para ver a separação entre eles

In [27]:
df_female = df.loc[df['Gender'] == 'Female']
display(df_female)

# Olhando a idade e buscando encontrar algum padrão

In [28]:
df_female['Age'].value_counts()

In [14]:
df_female['Profession'].value_counts()

Artist           380
Healthcare       196
Entertainment    133
Engineer         103
Doctor            89
Executive         87
Lawyer            86
Marketing         53
Homemaker         39
Name: Profession, dtype: int64

# Buscando semelhança entre idade, emprego e salario

### Grupo de mulheres aos 30 anos

In [38]:
# Divindo df em 3 tipos de idades 
df_female['Age'].astype('int')
df_female_age30 = df_female.loc[df_female['Age'] < 30]
display(df_female_age30)

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
5,6,Female,22,58000,76,Artist,0,2
7,8,Female,23,84000,94,Healthcare,1,3
13,14,Female,24,91000,77,Lawyer,1,1
...,...,...,...,...,...,...,...,...
1974,1975,Female,14,153145,59,Healthcare,8,6
1980,1981,Female,10,86925,76,Artist,7,2
1984,1985,Female,2,153622,51,Lawyer,6,6
1986,1987,Female,4,68094,61,Doctor,4,7
1994,1995,Female,19,54121,89,Engineer,6,3

#### Qual o tipo de emprego e media salarial até os 30 anos

In [4]:
df_female_age30['Profession'].value_counts()

Artist           102
Healthcare        57
Entertainment     38
Lawyer            28
Doctor            28
Executive         26
Engineer          24
Marketing         20
Homemaker         10
Name: Profession, dtype: int64

In [39]:
df_female_age30['Age'].astype('int')
print('Anual sendo = ${:,.2f}'.format(df_female_age30['Annual Income ($)'].mean()))
print('Media de gasto de mulheres de 30 anos em score = {:.2f}'.format(df_female_age30['Spending Score (1-100)'].mean()))

Anual sendo = $112,483.47
Media de gasto de mulheres de 30 anos em score = 51.35

#### Qual tipo de emprego as mulheres em media tem dos 30 aos 60 anos

In [29]:
df_female['Age'].astype('int')
df_female_age60_temp = df_female.loc[df_female['Age'] > 30]
df_female_age60 = df_female_age60_temp.loc[df_female_age60_temp['Age'] < 60]
display(df_female_age60)

In [19]:
df_female_age60['Profession'].value_counts()

Artist           123
Healthcare        68
Entertainment     43
Engineer          31
Lawyer            26
Doctor            26
Executive         25
Homemaker         18
Marketing         12
Name: Profession, dtype: int64

In [18]:
print('Anual sendo = ${:,.2f}'.format(df_female_age60['Annual Income ($)'].mean()))

print('Media de gasto de mulheres entre 30 a 60 anos score = {:.2f}'.format(df_female_age60['Spending Score (1-100)'].mean()))

Anual sendo = $105,245.18
Media de gasto de mulheres entre 30 a 60 anos score = 49.21

#### Qual tipo de emprego e media salarial para as mulheres acima de 60 anos

In [30]:
# Divindo df em 3 tipos de idades 
df_female_age_old = df_female.loc[df_female['Age'] > 60]
display(df_female_age_old)

In [15]:
df_female_age_old['Profession'].value_counts()

Artist           141
Healthcare        64
Entertainment     49
Engineer          47
Executive         34
Doctor            32
Lawyer            31
Marketing         20
Homemaker         11
Name: Profession, dtype: int64

In [31]:
print('Anual sendo = ${:,.2f}'.format(df_female_age_old['Annual Income ($)'].mean()))

print('Media de gasto de mulheres mais velha em score = {:.2f}'.format(df_female_age_old['Spending Score (1-100)'].mean()))

Anual sendo = $113,438.56
Media de gasto de mulheres mais velha em score = 52.21

### Agora que fiz a diferença de salario entre as idades  vou buscar um motivo pra entender oque fazem as mulheres mais velhas receberem mais dinheiro anualmente
- Após buscar resultados entendi que existem mais mulheres acima de 60 anos e entendi o porque ganham mais nos resultados
- O maior resultado de salario das mulheres acima de 60 anos
- As mulheres mais novas e mais velha tendem a gastar mais tendo uma pontuação de score de gastos acima de 50

In [27]:
df_female_age_old.info()
print('${:,.2f}'.format(df_female_age_old['Annual Income ($)'].max()))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434 entries, 40 to 1996
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              434 non-null    int64
 1   Gender                  434 non-null    object
 2   Age                     434 non-null    int64
 3   Annual Income ($)       434 non-null    int64
 4   Spending Score (1-100)  434 non-null    int64
 5   Profession              429 non-null    object
 6   Work Experience         434 non-null    int64
 7   Family Size             434 non-null    int64
dtypes: int64(6), object(2)
memory usage: 30.5+ KB
$189,974.00

In [26]:
df_female_age30.info()
print('${:,.2f}'.format(df_female_age30['Annual Income ($)'].max()))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 2 to 1994
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              340 non-null    int64
 1   Gender                  340 non-null    object
 2   Age                     340 non-null    int64
 3   Annual Income ($)       340 non-null    int64
 4   Spending Score (1-100)  340 non-null    int64
 5   Profession              333 non-null    object
 6   Work Experience         340 non-null    int64
 7   Family Size             340 non-null    int64
dtypes: int64(6), object(2)
memory usage: 23.9+ KB
$189,689.00

In [28]:
df_female_age60.info()
print('${:,.2f}'.format(df_female_age60['Annual Income ($)'].max()))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 379 entries, 4 to 1989
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              379 non-null    int64
 1   Gender                  379 non-null    object
 2   Age                     379 non-null    int64
 3   Annual Income ($)       379 non-null    int64
 4   Spending Score (1-100)  379 non-null    int64
 5   Profession              372 non-null    object
 6   Work Experience         379 non-null    int64
 7   Family Size             379 non-null    int64
dtypes: int64(6), object(2)
memory usage: 26.6+ KB
$189,672.00

# Calculando media de salário anual das mulheres

In [29]:
print('Anual sendo = ${:,.2f}'.format(df_female['Annual Income ($)'].mean()))
print('Mensal sendo = ${:,.2f}'.format(df_female['Annual Income ($)'].mean() / 12))

Anual sendo = $110,553.72
Mensal sendo = $9,212.81

# Tabela dos homens para entender a diferença e comparar -

In [31]:
df_male = df.loc[df['Gender'] == 'Male']
+display(df_male)

## Empregos - Salario - Gastos

In [10]:
df_male['Profession'].value_counts()

Artist           232
Healthcare       143
Entertainment    101
Engineer          76
Doctor            72
Executive         66
Lawyer            56
Marketing         32
Homemaker         21
Name: Profession, dtype: int64

In [6]:
print('${:,.2f}'.format(df_male['Annual Income ($)'].mean()))

$110,991.32

In [9]:
print('Media de gasto em score dos homens = {:.2f}'.format(df_male['Spending Score (1-100)'].mean()))

Media de gasto em score dos homens = 50.94

## Dividindo homens em 3 idades

In [15]:
df_male['Age'].astype('int')
#
df_male_age30 = df_male.loc[df_male['Age'] < 30]
#
df_male_age60_temp = df_male.loc[df_male['Age'] > 30]
df_male_age60 = df_male_age60_temp.loc[df_male_age60_temp['Age'] < 60]
#
df_male_old = df_male.loc[df_male['Age'] > 60]

## Grupo dos 30 anos

In [23]:
df_male_age30['Profession'].value_counts()

Artist           71
Healthcare       43
Entertainment    28
Executive        23
Doctor           22
Engineer         20
Lawyer           17
Marketing        15
Homemaker         9
Name: Profession, dtype: int64

In [22]:
print('${:,.2f}'.format(df_male_age30['Annual Income ($)'].mean()))
#
print('Maior salario ${:,.2f}'.format(df_male_age30['Annual Income ($)'].max()))

print('Media de gasto de homens de até 30 anos em score = {:.2f}'.format(df_male_age30['Spending Score (1-100)'].mean()))

$112,603.06
Maior salario $189,709.00
Media de gasto de homens de até 30 anos em score = 55.72

# Homens de 30 a 60 anos

In [32]:
print('${:,.2f}'.format(df_male_age60['Annual Income ($)'].mean()))
#
print('Maior salario ${:,.2f}'.format(df_male_age60['Annual Income ($)'].max()))

print('Media de gasto de homens de até 30 anos em score = {:.2f}'.format(df_male_age60['Spending Score (1-100)'].mean()))

$103,226.42
Maior salario $189,091.00
Media de gasto de homens de até 30 anos em score = 50.25

# Homens de 60 anos +

In [33]:
print('${:,.2f}'.format(df_male_old['Annual Income ($)'].mean()))
#
print('Maior salario ${:,.2f}'.format(df_male_old['Annual Income ($)'].max()))

print('Media de gasto de homens de até 30 anos em score = {:.2f}'.format(df_male_old['Spending Score (1-100)'].mean()))

$114,801.62
Maior salario $189,357.00
Media de gasto de homens de até 30 anos em score = 47.62

# Media de salario dos homens

In [36]:
print('Anual sendo = ${:,.2f}'.format(df_male['Annual Income ($)'].mean()))
print('Mensal sendo = ${:,.2f}'.format(df_male['Annual Income ($)'].mean() / 12))

Anual sendo = $110,991.32
Mensal sendo = $9,249.28

# Relatorio final parte 1 -

* Antes de categorizar algo é importante ressaltar a diferença de quantidade entre homens e mulheres pois nesse DF existem quase 300 mulheres a mais doque homens por tanto naturalmente faz uma diferença na hora de comparar ambos mesmo assim temos grandes resultados para falar...


 1- Tanto homens quanto mulheres até os 30 anos e depois dos 60 anos ganham mais dinheiro - 
 As mulheres até os 30 anos tem uma media anual sendo = $112,483.47
 Os homens até os 30 anos tem uma media anual sendo = $112,603.06
 -
 As mulheres dos 30 ao 60 anos tem uma media anual sendo = $105,245.18
 Os homens dos 30 a 60 anos tem uma media anual sendo = $103,226.42
 -
 As mulheres acima dos 60 anos tem uma media anual sendo = $113,438.56
 Os homens acima dos 60 anos tem uma media anual sendo = $114,801.62
 
 2 - Os homens tendem a ganhar mais que as mulheres: Esse dado não é preciso pela falta de 300 homens no DF
 As mulheres : Anual sendo = $110,553.72 Mensal sendo = $9,212.81
 Os homens : Anual sendo = $110,991.32 Mensal sendo = $9,249.28
 
 3- No grupo das mulheres o auge do salario veio depois dos 60 anos já os homens vem antes dos 30 anos:
 Sendo as mulheres acima dos 60 anos= $189,974.00
 Sendo os homens aos 30 anos= $189,709.00
 
 4- Na pontuação de gastos existe uma diferença sutil mas importante 
 Os homens até os 30 anos gastam mais que as mulheres tendo uma diferença de 55.72 para 51.35 das mulheres
 Ainda dos 30 anos aos 60 anos os homens tendem a gastar mais :
 Mulheres dos 30 aos 60 anos : 49.21
 Homens dos 30 aos 60 anos : 50.25
 Porém acima dos 60 anos existe uma diferença de gasto muito grande onde as mulheres gastam mais que os homens
 Sendo as mulhers acima dos 60 anos com um score de : 52.21
 Sendo os homens acima dos 60 anos com um score de : 47.62
 ----------------------------------------------------------------------------------------------------------------------------
 Esse DF foi pego no Kaggle a um tempo por tanto não sei dizer de qual pais pertence
 O projeto não é preciso pois existe uma diferença de 300 homens na tabela oque mudaria alguns resultados
 - Mesmo assim com esse resultado da para entender boas estrategias de marketing, se homens de 60 anos para baixo tendem a gastar mais as empresas podem tentar lucrar em cima disso com algo que faça sentido para homens abaixo dos 60 anos.
Porém da mesma forma as empresas podem fazer midias para o mercado de mulheres acima dos  60 anos já que elas tendem a ganhar mais

## Nas proximas celulas irei fazer um trabalho plotando e irei incluir uma nova vertente para explorar... O tema dessa vertente é o quanto o tamanho de familia e anos de experiencia podem influenciar no salario anual das pessoas